@font-face {
	font-family: "Noto serif";
	src: url("../assets/NotoSerifSC-Medium.otf");
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto serif', serif;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
        font-family: 'Noto serif', serif;
    }
}

p, ul, ol{
    font-family: 'Noto serif', serif;
    li{
      font-family: 'Noto serif', serif;
      font-size: 1.15rem;
    }
}

h2{
    margin-bottom: 0px;
}

h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 1.2rem;
}

p{
    font-size: 1.15rem;
}

a{
    font-family: 'Noto serif', serif;
}
